.body{
    background-color: rgb(187, 116, 116);
    background-image: url('../../images/background.png');
    
}

.inner{
    border: 1px;
    height: 50%;
    width: 100%;
    margin-top: 5;
    background-color: rgba(23, 92, 21, 0.678);
    background-image: url("new.images/rottenlargebg.png");
    background-size:cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.post{
    display: flex;
    flex-direction: row;
   width: 800px; 
   height:100%;
   border: 3px solid;
   border-radius: 15px;
   margin: 0 auto;
}
#img{
    width: 100%;
}
.cast{
    border: 3px ;
    width: 218;
    height: 50%;
    margin-top: 50;
     margin-right: 302;
    float: right;
    background-color: rgb(144, 178, 71);
     font-size: 13px;
    padding: 10px;
     
} 

.item{
    flex: 2;
}

.imgCast{
    flex: 1;
}

#banner-left{
    /* padding: 10px; */
    border: 1px solid rgb(80, 23, 23);
   
    /* width: 100%; */
    font-size: 48pt;
    color: rgb(219, 25, 25);
    font-weight: bold;
    background-color:  rgb(23, 95, 18);
    background-image: url('../images/rbg.png');
    background-size: 100;
}

#container-review {
    font-size:11px; 
}

#section-left{
    float: left;
}

#section-right{
    float: right;
}

#section-left, #section-right{
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 47%;
}

.reviews{
    font-size: 8pt;
    font-weight: bold;
    background-color: #E8DC9B;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 8px;
    overflow: hidden;
}
#bottom-page{    
    clear: both;    
    text-align: center;
    padding: 5px;
    border-radius: 0 0 15px 15px;
}
#tomato{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#rotten{

    width:10;
    height: 90;
}
